__MACOSX/
USER/
TEST_HARDWARE/
DOCUMENTS/
NatNetSDK/
GUI/
*.asv
*matlab_msg_gen/
*tcp_ros_msgs/
*src/

*slprj/
*_ert_rtw/
*sldrt_win64/
*.slxc
*.elf
*+bus_conv_fcns/
*.tgz
*.tlc
*.rxw64
*.mexa64
*.mexw64
*.mexmaci64
*.mexmaca64
*SFB__sfcn_micros__SFB.mat